# Visual Studio temporary files
.vs/
*/.vs/

# Build results
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
**/Migrations

# NuGet Packages (optional)
packages/
*.nupkg